utils/nr-lora-incoming.flow
[{"id":"3a976663.ee33ea","type":"tab","label":"MyLora","disabled":false,"info":""},{"id":"6c1e99bb.02f378","type":"http in","z":"3a976663.ee33ea","name":"","url":"/lora","method":"post","upload":false,"swaggerDoc":"","x":220,"y":240,"wires":[["cd0e1e55.90a66","d75ada95.027ed8","cd09bc05.dfdf18"]]},{"id":"cd0e1e55.90a66","type":"debug","z":"3a976663.ee33ea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":400,"y":240,"wires":[]},{"id":"d75ada95.027ed8","type":"http response","z":"3a976663.ee33ea","name":"","statusCode":"","headers":{},"x":400,"y":280,"wires":[]},{"id":"cd09bc05.dfdf18","type":"function","z":"3a976663.ee33ea","name":"Counter","func":"function hexToInt(hex) {\n    if (hex.length % 2 != 0) {\n        hex = \"0\" + hex;\n    }\n    var num = parseInt(hex, 16);\n    var maxVal = Math.pow(2, hex.length / 2 * 8);\n    if (num > maxVal / 2 - 1) {\n        num = num - maxVal\n    }\n    return num;\n}\n\nfunction hex2a(hexx) {\n    var hex = hexx.toString();//force conversion\n    var str = '';\n    for (var i = 0; (i < hex.length && hex.substr(i, 2) !== '00'); i += 2)\n        str += String.fromCharCode(parseInt(hex.substr(i, 2), 16));\n    return str;\n}\nfunction parseHexString(str) { \n    var result = [];\n    // Ignore any trailing single digit; I don't know what your needs\n    // are for this case, so you may want to throw an error or convert\n    // the lone digit depending on your needs.\n    while (str.length >= 2) { \n        result.push(parseInt(str.substring(0, 2), 16));\n        str = str.substring(2, str.length);\n    }\n\n    return result;\n}\nfunction Decoder(bytes) {\n\n  // Based on https://stackoverflow.com/a/37471538 by Ilya Bursov\n  function bytesToFloat(bytes) {\n    // JavaScript bitwise operators yield a 32 bits integer, not a float.\n    // Assume LSB (least significant byte first).\n    var bits = bytes[3]<<24 | bytes[2]<<16 | bytes[1]<<8 | bytes[0];\n    var sign = (bits>>>31 === 0) ? 1.0 : -1.0;\n    var e = bits>>>23 & 0xff;\n    var m = (e === 0) ? (bits & 0x7fffff)<<1 : (bits & 0x7fffff) | 0x800000;\n    var f = sign * m * Math.pow(2, e - 150);\n    return f;\n  }  \n\n  // Test with 0082d241 for 26.3134765625\n  return {\n    // Take bytes 0 to 4 (not including), and convert to float:\n    temp: bytesToFloat(bytes.slice(0, 4))\n  };\n}\n\nmsg.payload.t=(hexToInt(msg.payload.data.substring(0, 4))/100)\nmsg.payload.p=(hexToInt(msg.payload.data.substring(4, 12))/100)\nmsg.payload.h=hexToInt(msg.payload.data.substring(12, 16))\nmsg.payload.l=hexToInt(msg.payload.data.substring(16, 20))\nreturn msg","outputs":1,"noerr":0,"x":410,"y":200,"wires":[["ad17e912.e151d8","79854e82.2edce","858989c0.a5be4","63b7af9b.a64d98","27a0d64e.495592"]]},{"id":"ad17e912.e151d8","type":"debug","z":"3a976663.ee33ea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":560,"y":160,"wires":[]},{"id":"6c5616c2.5eff68","type":"function","z":"3a976663.ee33ea","name":"","func":"function hexToInt(hex) {\n    if (hex.length % 2 != 0) {\n        hex = \"0\" + hex;\n    }\n    var num = parseInt(hex, 16);\n    var maxVal = Math.pow(2, hex.length / 2 * 8);\n    if (num > maxVal / 2 - 1) {\n        num = num - maxVal\n    }\n    return num;\n}\nnode.warn(msg.payload)\nnode.warn(\"'>hhhh',  t,p,h,l\")\nnode.warn(\"0167007102681c\".substring(0,4 ))\nt=hexToInt(\"0167007102681c\".substring(0, 4))\nnode.warn(t)\nnode.warn(\"0167007102681c\".substring(4,8 ))\nt=hexToInt(\"0167007102681c\".substring(4, 8))\nnode.warn(t)\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":380,"wires":[["1f999240.5d011e"]]},{"id":"7a13f68.cc2cf08","type":"inject","z":"3a976663.ee33ea","name":"","topic":"","payload":"0167007102681c ","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":380,"wires":[["6c5616c2.5eff68"]]},{"id":"1f999240.5d011e","type":"debug","z":"3a976663.ee33ea","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":180,"y":420,"wires":[]},{"id":"ae9a7301.c93678","type":"cayennelpp-decoder","z":"3a976663.ee33ea","name":"","x":520,"y":640,"wires":[["4b9a882e.6d72f8","56c575bd.de0abc"]]},{"id":"c45c9d3d.0765f8","type":"inject","z":"3a976663.ee33ea","name":"","topic":"","payload":"01670000027400d80302012c046400000186","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":600,"wires":[["ae9a7301.c93678"]]},{"id":"4b9a882e.6d72f8","type":"debug","z":"3a976663.ee33ea","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":680,"wires":[]},{"id":"4545d293.5fbb1c","type":"http in","z":"3a976663.ee33ea","name":"","url":"/lpplora","method":"post","upload":false,"swaggerDoc":"","x":140,"y":580,"wires":[["ce74b2a0.2bc3c8","76bc0177.2da14","89de7a7d.fd2f08"]]},{"id":"ce74b2a0.2bc3c8","type":"debug","z":"3a976663.ee33ea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":160,"y":540,"wires":[]},{"id":"1494d242.0adab6","type":"function","z":"3a976663.ee33ea","name":"decode base64","func":"//buffer  =  Buffer.from(\"AMrDoe48981SDH8/NzMKYagG8DvqGjo=\",'base64')\nbuffer  =  Buffer.from(msg.payload.data,'base64');\nmsg.payload.ts=Date.now();\nmsg.oldpayload=msg.payload\nmsg.payload =buffer.toString('hex');\nmsg.oldpayload.ts=Date.now();\n//flow.set(\"lastmsg\",msg)\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":640,"wires":[["fda9f34.e16039","7403fb51.9195f4"]]},{"id":"fda9f34.e16039","type":"debug","z":"3a976663.ee33ea","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":160,"y":680,"wires":[]},{"id":"3083739.541108c","type":"inject","z":"3a976663.ee33ea","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":840,"wires":[["15e0dd5e.92c2db"]]},{"id":"15e0dd5e.92c2db","type":"function","z":"3a976663.ee33ea","name":"1310","func":"msg.payload=flow.get(\"lastmsg1310\")\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":840,"wires":[["7f28635e.9e5d9c"]]},{"id":"7f28635e.9e5d9c","type":"debug","z":"3a976663.ee33ea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":840,"wires":[]},{"id":"56c575bd.de0abc","type":"switch","z":"3a976663.ee33ea","name":"DEVICENAME","property":"oldpayload.deviceName","propertyType":"msg","rules":[{"t":"eq","v":"new-mkr-1310","vt":"str"},{"t":"eq","v":"mkr1310-outside","vt":"str"},{"t":"eq","v":"mkr1300mailbox","vt":"str"},{"t":"cont","v":"ttgo","vt":"str"},{"t":"cont","v":"RAK","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":6,"x":750,"y":640,"wires":[["80f448ba.b18008","f3cfb59.6e044c8"],["5de683b7.3599b4"],["a1c5bc20.ff2f38","d705d3ab.2c2ef"],["e2675815.29bd68","cc1a64c3.13bdc8","eae5dde3.f81dc"],["d15ee423.878668","c235fd32.2e806"],["c110a275.e461","d85f26a5.a51b08"]]},{"id":"80f448ba.b18008","type":"debug","z":"3a976663.ee33ea","name":"GPS-mkr-1310","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":900,"y":520,"wires":[]},{"id":"a1c5bc20.ff2f38","type":"debug","z":"3a976663.ee33ea","name":"mkr-1300-mailbox","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1050,"y":680,"wires":[]},{"id":"d705d3ab.2c2ef","type":"function","z":"3a976663.ee33ea","name":"save-mailbox","func":"\nmsg.payload.ts=Date.now();\nflow.set(\"lastmsmailbox\",msg)\n//flow.set(\"lastmsg1310outsidepayload\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":760,"wires":[[]]},{"id":"f3cfb59.6e044c8","type":"function","z":"3a976663.ee33ea","name":"save","func":"\nmsg.payload.ts=Date.now();\nflow.set(\"lastmsg1310\",msg)\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":480,"wires":[[]]},{"id":"c8195ef4.14243","type":"inject","z":"3a976663.ee33ea","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":880,"wires":[["c91dc9b7.12d18"]]},{"id":"c91dc9b7.12d18","type":"function","z":"3a976663.ee33ea","name":"1300 other / mailbox","func":"msg.payload={}\nmsg.payload.mvk=\"Mailbox\"\nmsg.payload=flow.get(\"lastmsgother\")\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":880,"wires":[["80d0ebbf.75da1"]]},{"id":"80d0ebbf.75da1","type":"debug","z":"3a976663.ee33ea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":880,"wires":[]},{"id":"504f8a33.84238c","type":"debug","z":"3a976663.ee33ea","name":"mkr-1310-outside","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1070,"y":640,"wires":[]},{"id":"5de683b7.3599b4","type":"function","z":"3a976663.ee33ea","name":"mkr1310-outside","func":"var d = new Date();\nvar options = { timeZone: 'America/Toronto', timeZoneName: 'short', year: 'numeric', month: '2-digit', day: '2-digit', hour: `2-digit`, minute: `2-digit`, second: `2-digit`};\nvar resultDate = d.toLocaleDateString('en-US', options);\nmsg.payload.mytime=resultDate\nmsg.payload.size=msg.oldpayload.data.length\nmsg.payload.ts=Date.now();\nflow.set(\"lastmsg1310outside\",msg)\nflow.set(\"lastmsg1310outsidepayload\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":600,"wires":[["504f8a33.84238c","55017fce.ef4da8","8722c669.5749a8","86f48121.f689e8","4f4f91a3.4cf07","11e02e55.efc712","fa85fc9a.00bc","91a2e4d5.7fe3d","1f36b5c8.89f99a","dcdd9678.b16cc8"]]},{"id":"88300edb.382af8","type":"inject","z":"3a976663.ee33ea","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":960,"wires":[["30812c10.b4768c"]]},{"id":"30812c10.b4768c","type":"function","z":"3a976663.ee33ea","name":"1310-outside","func":"msg.payload=flow.get(\"lastmsg1310outside\")\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":960,"wires":[["1bd30170.d564ff"]]},{"id":"1bd30170.d564ff","type":"debug","z":"3a976663.ee33ea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":480,"y":960,"wires":[]},{"id":"c92f7b8a.b464","type":"ui_chart","z":"3a976663.ee33ea","name":"","group":"d60a5cec.6ca25","order":0,"width":0,"height":0,"label":"BME280-Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"8","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":850,"y":200,"wires":[[]]},{"id":"8bb93213.2094d8","type":"comment","z":"3a976663.ee33ea","name":"PYCOM","info":"","x":160,"y":40,"wires":[]},{"id":"f80bbfa5.88e228","type":"comment","z":"3a976663.ee33ea","name":"MKR1310","info":"","x":150,"y":480,"wires":[]},{"id":"79854e82.2edce","type":"function","z":"3a976663.ee33ea","name":"Temperature","func":"function hexToInt(hex) {\n    if (hex.length % 2 != 0) {\n        hex = \"0\" + hex;\n    }\n    var num = parseInt(hex, 16);\n    var maxVal = Math.pow(2, hex.length / 2 * 8);\n    if (num > maxVal / 2 - 1) {\n        num = num - maxVal\n    }\n    return num;\n}\nfunction hex2a(hexx) {\n    var hex = hexx.toString();//force conversion\n    var str = '';\n    for (var i = 0; (i < hex.length && hex.substr(i, 2) !== '00'); i += 2)\n        str += String.fromCharCode(parseInt(hex.substr(i, 2), 16));\n    return str;\n}\nfunction parseHexString(str) { \n    var result = [];\n    // Ignore any trailing single digit; I don't know what your needs\n    // are for this case, so you may want to throw an error or convert\n    // the lone digit depending on your needs.\n    while (str.length >= 2) { \n        result.push(parseInt(str.substring(0, 2), 16));\n        str = str.substring(2, str.length);\n    }\n\n    return result;\n}\nfunction Decoder(bytes) {\n\n  // Based on https://stackoverflow.com/a/37471538 by Ilya Bursov\n  function bytesToFloat(bytes) {\n    // JavaScript bitwise operators yield a 32 bits integer, not a float.\n    // Assume LSB (least significant byte first).\n    var bits = bytes[3]<<24 | bytes[2]<<16 | bytes[1]<<8 | bytes[0];\n    var sign = (bits>>>31 === 0) ? 1.0 : -1.0;\n    var e = bits>>>23 & 0xff;\n    var m = (e === 0) ? (bits & 0x7fffff)<<1 : (bits & 0x7fffff) | 0x800000;\n    var f = sign * m * Math.pow(2, e - 150);\n    return f;\n  }  \n\n  // Test with 0082d241 for 26.3134765625\n  return {\n    // Take bytes 0 to 4 (not including), and convert to float:\n    temp: bytesToFloat(bytes.slice(0, 4))\n  };\n}\n\nmsg.payload=(hexToInt(msg.payload.data.substring(0, 4))/100)\n\nreturn msg","outputs":1,"noerr":0,"x":640,"y":200,"wires":[["c92f7b8a.b464"]]},{"id":"32a8821c.56d76e","type":"ui_chart","z":"3a976663.ee33ea","name":"","group":"d60a5cec.6ca25","order":0,"width":0,"height":0,"label":"BE1750 Light","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"8","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":850,"y":240,"wires":[[]]},{"id":"858989c0.a5be4","type":"function","z":"3a976663.ee33ea","name":"Light","func":"\nmsg.payload=msg.payload.l\n\nreturn msg","outputs":1,"noerr":0,"x":620,"y":240,"wires":[["32a8821c.56d76e"]]},{"id":"2d3e4f5f.a6a478","type":"ui_chart","z":"3a976663.ee33ea","name":"","group":"d60a5cec.6ca25","order":0,"width":0,"height":0,"label":"BME280-Hum","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"8","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":850,"y":280,"wires":[[]]},{"id":"63b7af9b.a64d98","type":"function","z":"3a976663.ee33ea","name":"Humidity","func":"\nmsg.payload=msg.payload.h\n\nreturn msg","outputs":1,"noerr":0,"x":630,"y":280,"wires":[["2d3e4f5f.a6a478"]]},{"id":"1f36b5c8.89f99a","type":"function","z":"3a976663.ee33ea","name":"save","func":"\nmsg.payload=msg.payload.temperature_9\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":480,"wires":[["6c6060f6.d0ca6"]]},{"id":"11e02e55.efc712","type":"function","z":"3a976663.ee33ea","name":"save","func":"\nmsg.payload=msg.payload.temperature_1\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":680,"wires":[["a2d2e57a.5c5228"]]},{"id":"6c6060f6.d0ca6","type":"ui_chart","z":"3a976663.ee33ea","name":"","group":"170cb7cc.b361f","order":3,"width":0,"height":0,"label":"Shade DS Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1580,"y":480,"wires":[[]]},{"id":"a2d2e57a.5c5228","type":"ui_chart","z":"3a976663.ee33ea","name":"","group":"170cb7cc.b361f","order":6,"width":0,"height":0,"label":"DHT22 Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"8","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1570,"y":680,"wires":[[]]},{"id":"fa85fc9a.00bc","type":"function","z":"3a976663.ee33ea","name":"save","func":"\nmsg.payload=msg.payload.relative_humidity_1\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":720,"wires":[["265aa25b.b9df0e"]]},{"id":"265aa25b.b9df0e","type":"ui_chart","z":"3a976663.ee33ea","name":"","group":"170cb7cc.b361f","order":7,"width":0,"height":0,"label":"DHT22 Humi","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"8","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1570,"y":720,"wires":[[]]},{"id":"27a0d64e.495592","type":"function","z":"3a976663.ee33ea","name":"","func":"var d = new Date();\nvar options = { timeZone: 'America/Toronto',  month: '2-digit', day: '2-digit', hour: `2-digit`, minute: `2-digit`, second: `2-digit`};\nvar resultDate = d.toLocaleDateString('en-US', options);\nmsg.payload.mytime=resultDate\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":320,"wires":[["53ee78f6.dcd19"]]},{"id":"53ee78f6.dcd19","type":"ui_text","z":"3a976663.ee33ea","group":"d60a5cec.6ca25","order":0,"width":0,"height":0,"name":"","label":"Local Time (YYZ)","format":"{{msg.payload.mytime}}","layout":"row-spread","x":860,"y":320,"wires":[]},{"id":"8722c669.5749a8","type":"function","z":"3a976663.ee33ea","name":"","func":"var d = new Date();\nvar options = { timeZone: 'America/Toronto', month: '2-digit', day: '2-digit', hour: `2-digit`, minute: `2-digit`, second: `2-digit`};\nvar resultDate = d.toLocaleDateString('en-US', options);\nmsg.payload.mytime=resultDate\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":780,"wires":[["28fb3e3f.84d042"]]},{"id":"28fb3e3f.84d042","type":"ui_text","z":"3a976663.ee33ea","group":"170cb7cc.b361f","order":4,"width":0,"height":0,"name":"","label":"Local Time (YYZ)","format":"{{msg.payload.mytime}}","layout":"row-spread","x":1590,"y":780,"wires":[]},{"id":"55017fce.ef4da8","type":"function","z":"3a976663.ee33ea","name":"save","func":"\nmsg.payload=msg.payload.analog_in_1\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":520,"wires":[["b0d3d362.791b68"]]},{"id":"b0d3d362.791b68","type":"ui_text","z":"3a976663.ee33ea","group":"170cb7cc.b361f","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":1550,"y":520,"wires":[]},{"id":"dcdd9678.b16cc8","type":"function","z":"3a976663.ee33ea","name":"save","func":"\nmsg.payload=msg.payload.voltage_1\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":440,"wires":[["3723df5c.9f7718"]]},{"id":"3723df5c.9f7718","type":"ui_chart","z":"3a976663.ee33ea","name":"","group":"170cb7cc.b361f","order":2,"width":0,"height":0,"label":"Voltage","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1560,"y":440,"wires":[[]]},{"id":"4f4f91a3.4cf07","type":"function","z":"3a976663.ee33ea","name":"light","func":"\nmsg.payload=msg.payload.luminosity_1\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":640,"wires":[["b4413c0d.0eb4"]]},{"id":"b4413c0d.0eb4","type":"ui_chart","z":"3a976663.ee33ea","name":"","group":"170cb7cc.b361f","order":8,"width":0,"height":0,"label":"Light","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"8","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1550,"y":640,"wires":[[]]},{"id":"86f48121.f689e8","type":"function","z":"3a976663.ee33ea","name":"save","func":"\nmsg.payload.mytime\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":560,"wires":[["ddbd63c4.3f1318"]]},{"id":"ddbd63c4.3f1318","type":"ui_text","z":"3a976663.ee33ea","group":"170cb7cc.b361f","order":5,"width":0,"height":0,"name":"","label":"LocalTime","format":"{{msg.payload.mytime}}","layout":"row-spread","x":1570,"y":560,"wires":[]},{"id":"91a2e4d5.7fe3d","type":"function","z":"3a976663.ee33ea","name":"water","func":"\nmsg.payload=msg.payload.generic_sensor_1\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":600,"wires":[["2cb0a93c.76186e"]]},{"id":"2cb0a93c.76186e","type":"ui_chart","z":"3a976663.ee33ea","name":"","group":"170cb7cc.b361f","order":9,"width":0,"height":0,"label":"Water","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"8","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1550,"y":600,"wires":[[]]},{"id":"219a0c50.053c54","type":"change","z":"3a976663.ee33ea","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":960,"wires":[["dccb4126.9645a","b3ac5689.7cfbd"]]},{"id":"dccb4126.9645a","type":"http response","z":"3a976663.ee33ea","name":"","statusCode":"","headers":{},"x":1200,"y":960,"wires":[]},{"id":"9d200060.5c38","type":"http in","z":"3a976663.ee33ea","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":670,"y":960,"wires":[["9de8fd7d.a4b178"]]},{"id":"b3ac5689.7cfbd","type":"debug","z":"3a976663.ee33ea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1180,"y":900,"wires":[]},{"id":"e85b0851.3dc828","type":"inject","z":"3a976663.ee33ea","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":770,"y":1020,"wires":[["9de8fd7d.a4b178"]]},{"id":"9de8fd7d.a4b178","type":"function","z":"3a976663.ee33ea","name":"","func":"msg.payload={\"hello\":\"world\"}\nmsg.payload=flow.get(\"lastmsg1310outside\").payload\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":960,"wires":[["219a0c50.053c54"]]},{"id":"9f030342.8df39","type":"cloudant out","z":"3a976663.ee33ea","name":"","cloudant":"","database":"gpsinfos","service":"1239tlab-cloudantNoSQLDB","payonly":true,"operation":"insert","x":850,"y":440,"wires":[]},{"id":"6289afe.19cfa5","type":"inject","z":"3a976663.ee33ea","name":"mkr GPS","topic":"0167FFFF0268FF037401D20402006405640000017606880000000000000003E8076501E4087327FA096700000A64000000010B7104D2FB2E0237","payload":"0167FFFF0268FF037401D20402006405640000017606880000000000000003E8076501E4087327FA096700000A64000000010B7104D2FB2E0237","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":540,"y":560,"wires":[["ae9a7301.c93678"]]},{"id":"d5736b54.a2fa7","type":"inject","z":"3a976663.ee33ea","name":"","topic":"","payload":"094B00018B68001D00EB","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":320,"wires":[["c40cf63f.d9f308"]]},{"id":"c40cf63f.d9f308","type":"function","z":"3a976663.ee33ea","name":"","func":"msg.payload={}\nmsg.payload.data=\"094B00018B68001D00EB\"\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":320,"wires":[["cd09bc05.dfdf18"]]},{"id":"dd8b7f30.94b3c","type":"http in","z":"3a976663.ee33ea","name":"","url":"/lorattn","method":"post","upload":false,"swaggerDoc":"","x":190,"y":80,"wires":[["d9d3efbf.0f3738","b4678097.51bcf8"]]},{"id":"b4678097.51bcf8","type":"function","z":"3a976663.ee33ea","name":"Counter","func":"function hexToInt(hex) {\n    if (hex.length % 2 != 0) {\n        hex = \"0\" + hex;\n    }\n    var num = parseInt(hex, 16);\n    var maxVal = Math.pow(2, hex.length / 2 * 8);\n    if (num > maxVal / 2 - 1) {\n        num = num - maxVal\n    }\n    return num;\n}\nfunction base64ToHex(str) {\n  const raw = atob(str);\n  let result = '';\n  for (let i = 0; i < raw.length; i++) {\n    const hex = raw.charCodeAt(i).toString(16);\n    result += (hex.length === 2 ? hex : '0' + hex);\n  }\n  return result.toUpperCase();\n}\nconst buffer = Buffer.from(msg.payload.payload_raw, 'base64');\nmsg.payload.mvk=1\nmsg.payload.hex=buffer.toString('hex')\nmsg.payload.t=(hexToInt(msg.payload.hex.substring(0, 4))/100)\nmsg.payload.p=(hexToInt(msg.payload.hex.substring(4, 12))/100)\nmsg.payload.h=hexToInt(msg.payload.hex.substring(12, 16))\nmsg.payload.l=hexToInt(msg.payload.hex.substring(16, 20))\nreturn msg\nreturn msg","outputs":1,"noerr":0,"x":380,"y":80,"wires":[["98bc03e8.d7984"]]},{"id":"98bc03e8.d7984","type":"debug","z":"3a976663.ee33ea","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":80,"wires":[]},{"id":"d9d3efbf.0f3738","type":"debug","z":"3a976663.ee33ea","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":290,"y":140,"wires":[]},{"id":"3808171c.a5fdc8","type":"http in","z":"3a976663.ee33ea","name":"","url":"/gpslora","method":"post","upload":false,"swaggerDoc":"","x":150,"y":1120,"wires":[["7d1443d3.8a468c","902d38d8.a2e"]]},{"id":"7d1443d3.8a468c","type":"debug","z":"3a976663.ee33ea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":170,"y":1080,"wires":[]},{"id":"e512b9f.a04b148","type":"comment","z":"3a976663.ee33ea","name":"MKR1310","info":"","x":160,"y":1040,"wires":[]},{"id":"902d38d8.a2e","type":"function","z":"3a976663.ee33ea","name":"save","func":"gpslora1310=flow.get(\"gpslora1310\") ||[]\nmsg.payload.ts=Date.now();\ngpslora1310.push(msg.payload)\nflow.set(\"gpslora1310\",gpslora1310)\n//flow.set(\"lastmsg1310outsidepayload\",msg.payload)\nmsg.payload.gpslora1310=gpslora1310\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1120,"wires":[["bf752fc0.369268"]]},{"id":"60e0a2ef.8c4fd4","type":"inject","z":"3a976663.ee33ea","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1180,"wires":[["d461157f.35c7a"]]},{"id":"d461157f.35c7a","type":"function","z":"3a976663.ee33ea","name":"1310","func":"msg.payload=flow.get(\"gpslora1310\")\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1180,"wires":[["f67cdc54.49e468"]]},{"id":"f67cdc54.49e468","type":"debug","z":"3a976663.ee33ea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":490,"y":1180,"wires":[]},{"id":"bf752fc0.369268","type":"debug","z":"3a976663.ee33ea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":1120,"wires":[]},{"id":"346d668e.6fc682","type":"comment","z":"3a976663.ee33ea","name":"to WU update","info":"https://github.com/ccgruber/updateweatherstation/blob/master/pws_protocol.txt\n\nhttps://weatherstation.wunderground.com/weatherstation/updateweatherstation.php?ID=ITORON95&PASSWORD=J5ptHJmm&dateutc=now&humidity=90&tempf=60&baromin=29&action=updateraw\n\n","x":590,"y":440,"wires":[]},{"id":"8bf1342d.0d7128","type":"http in","z":"3a976663.ee33ea","name":"","url":"/ttnlora","method":"post","upload":false,"swaggerDoc":"","x":250,"y":1280,"wires":[["55302325.fa55dc","8f6dc080.5937f"]]},{"id":"55302325.fa55dc","type":"debug","z":"3a976663.ee33ea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":430,"y":1280,"wires":[]},{"id":"8f6dc080.5937f","type":"http response","z":"3a976663.ee33ea","name":"","statusCode":"","headers":{},"x":430,"y":1340,"wires":[]},{"id":"73b27e22.e6b35","type":"http in","z":"3a976663.ee33ea","name":"","url":"/ttnlora","method":"get","upload":false,"swaggerDoc":"","x":250,"y":1340,"wires":[["8f6dc080.5937f"]]},{"id":"76bc0177.2da14","type":"switch","z":"3a976663.ee33ea","name":"MsgType","property":"payload.data","propertyType":"msg","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":340,"y":580,"wires":[["1494d242.0adab6"],[]]},{"id":"e2675815.29bd68","type":"debug","z":"3a976663.ee33ea","name":"ttgo","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":800,"wires":[]},{"id":"d85f26a5.a51b08","type":"function","z":"3a976663.ee33ea","name":"save-other","func":"\nmsg.payload.ts=Date.now();\nflow.set(\"otherother\",msg)\n//flow.set(\"lastmsg1310outsidepayload\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":760,"wires":[[]]},{"id":"7403fb51.9195f4","type":"switch","z":"3a976663.ee33ea","name":"Testing ?","property":"oldpayload.deviceName","propertyType":"msg","rules":[{"t":"eq","v":"ttgotest1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":340,"y":680,"wires":[[],["ae9a7301.c93678"]]},{"id":"c110a275.e461","type":"debug","z":"3a976663.ee33ea","name":"otherother","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":720,"wires":[]},{"id":"cc1a64c3.13bdc8","type":"function","z":"3a976663.ee33ea","name":"save-ttgo","func":"\nmsg.payload.ts=Date.now();\nflow.set(\"lastmsgttgo\",msg)\n//flow.set(\"lastmsg1310outsidepayload\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":840,"wires":[["5d58e0a4.def5a"]]},{"id":"d15ee423.878668","type":"debug","z":"3a976663.ee33ea","name":"rakwis","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":880,"wires":[]},{"id":"c235fd32.2e806","type":"function","z":"3a976663.ee33ea","name":"save-rakwis","func":"\nmsg.payload.ts=Date.now();\nflow.set(\"lastmsgrakwis\",msg)\n//flow.set(\"lastmsg1310outsidepayload\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":920,"wires":[[]]},{"id":"7cd6a88d.729808","type":"inject","z":"3a976663.ee33ea","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1000,"wires":[["8c773f35.89768"]]},{"id":"8c773f35.89768","type":"function","z":"3a976663.ee33ea","name":"lastmsgttgo","func":"msg=flow.get(\"lastmsgttgo\")\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1000,"wires":[["7a70fb16.27b8b4"]]},{"id":"7a70fb16.27b8b4","type":"debug","z":"3a976663.ee33ea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":1000,"wires":[]},{"id":"eae5dde3.f81dc","type":"link out","z":"3a976663.ee33ea","name":"Tracker","links":["b87c9beb.ddba88"],"x":815,"y":840,"wires":[]},{"id":"1e3221a6.14bfee","type":"http in","z":"3a976663.ee33ea","name":"","url":"/lpplora","method":"get","upload":false,"swaggerDoc":"","x":330,"y":500,"wires":[["89de7a7d.fd2f08"]]},{"id":"89de7a7d.fd2f08","type":"http response","z":"3a976663.ee33ea","name":"OK","statusCode":"200","headers":{},"x":530,"y":500,"wires":[]},{"id":"f923b6a5.c09ef","type":"cayennelpp-decoder","z":"3a976663.ee33ea","name":"","x":1060,"y":1240,"wires":[["5029f4f5.c1f214"]]},{"id":"7c4052f1.4afe5c","type":"function","z":"3a976663.ee33ea","name":"decode base64","func":"//buffer  =  Buffer.from(\"AMrDoe48981SDH8/NzMKYagG8DvqGjo=\",'base64')\nbuffer  =  Buffer.from(msg.payload,'base64');\nmsg.payload.ts=Date.now();\nmsg.oldpayload=msg.payload\nmsg.payload =buffer.toString('hex');\nmsg.hex =buffer.toString('hex');\nmsg.buffer =buffer\nmsg.str =buffer.toString();\nmsg.oldpayload.ts=Date.now();\n//flow.set(\"lastmsg\",msg)\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":1240,"wires":[["f923b6a5.c09ef"]]},{"id":"4f705a8b.1558bc","type":"inject","z":"3a976663.ee33ea","name":"","topic":"","payload":"QCMoAiaACRICwHPxG1Qw/r8SkUTXKn0+cYJcw98=","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":690,"y":1200,"wires":[["7c4052f1.4afe5c"]]},{"id":"5029f4f5.c1f214","type":"debug","z":"3a976663.ee33ea","name":"llptest","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1250,"y":1240,"wires":[]},{"id":"5615cfe2.9d1048","type":"inject","z":"3a976663.ee33ea","name":"mkroutside","topic":"","payload":"AWf//wFo/wF0AcgBAgGQAWQAAAPzAWUCZwlnAJk=","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":640,"y":1300,"wires":[["7c4052f1.4afe5c"]]},{"id":"eca09e52.db61f","type":"dashDB in","z":"3a976663.ee33ea","dashDB":"56218da5.a29374","service":"_ext_","query":"SELECT *  FROM DB2INST1.SENSORDATA","params":"","name":"get all records","x":460,"y":1460,"wires":[["44e1e7f4.092978"]]},{"id":"44e1e7f4.092978","type":"debug","z":"3a976663.ee33ea","name":"DB","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":600,"y":1460,"wires":[]},{"id":"664eb19c.b8e96","type":"inject","z":"3a976663.ee33ea","name":"Select","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":1460,"wires":[["eca09e52.db61f"]]},{"id":"92d3453c.d92158","type":"comment","z":"3a976663.ee33ea","name":"DB WareHouse on 1547901 - IBM","info":"{\n  \"hostname\": \"db2w-iqjcpko.us-south.db2w.cloud.ibm.com\",\n  \"password\": \"REn@zqum1IOTG@PAeVF4DKzMO1jU8\",\n  \"https_url\": \"https://db2w-iqjcpko.us-south.db2w.cloud.ibm.com\",\n  \"port\": 50001,\n  \"ssldsn\": \"DATABASE=BLUDB;HOSTNAME=db2w-iqjcpko.us-south.db2w.cloud.ibm.com;PORT=50001;PROTOCOL=TCPIP;UID=bluadmin;PWD=REn@zqum1IOTG@PAeVF4DKzMO1jU8;Security=SSL;\",\n  \"host\": \"db2w-iqjcpko.us-south.db2w.cloud.ibm.com\",\n  \"uri\": \"db2://bluadmin:REn%40zqum1IOTG%40PAeVF4DKzMO1jU8@db2w-iqjcpko.us-south.db2w.cloud.ibm.com:50001/BLUDB?ssl=true;\",\n  \"db\": \"BLUDB\",\n  \"username\": \"bluadmin\",\n  \"ssljdbcurl\": \"jdbc:db2://db2w-iqjcpko.us-south.db2w.cloud.ibm.com:50001/BLUDB:sslConnection=true;\"\n}","x":260,"y":1420,"wires":[]},{"id":"3c9c046c.ba260c","type":"dashDB in","z":"3a976663.ee33ea","dashDB":"56218da5.a29374","service":"_ext_","query":"","params":"","name":"","x":540,"y":1520,"wires":[["d4c130ca.d7b05"]]},{"id":"1f6bdddc.3a8b02","type":"inject","z":"3a976663.ee33ea","name":"Test Insert","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":1520,"wires":[["1b83fdb9.260b02"]]},{"id":"d4c130ca.d7b05","type":"debug","z":"3a976663.ee33ea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":1520,"wires":[]},{"id":"1b83fdb9.260b02","type":"function","z":"3a976663.ee33ea","name":"Insert a Record","func":"msg.payload =\n{\"Date\":\"2020-02-26\",\n\"Time\":\"10:01:00\",\n\"DateTime\":\"2020-10-21 16:30\",\n\"Sensor\":\"PYCOM\",\n\"Location\":\"Markus SNP\",\n\"Temperature\":\"-10.51\",\n\"Humidity\":\"1000.12\",\n\"Pressure\":\"1000.12\",\n\"Comment\":\"\",\n\"json\":\"\",\n\"TIMESTAMP\":\"TIMESTAMP\"\n    \n}\nmsg.payload='INSERT INTO DB2INST1.SENSORDATA(\"Comment\",\"json\") VALUES (2, 1);'\nreturn msg;\n","outputs":1,"noerr":0,"x":380,"y":1520,"wires":[["3c9c046c.ba260c"]]},{"id":"48af7fa9.72e4a","type":"comment","z":"3a976663.ee33ea","name":"insert example","info":"INSERT\n  INTO  \"DB2INST1\".\"SENSORDATA\" (\"Date\",\"Time\",\"DateTime\",\"Sensor\",\"Location\",\"Temperature\",\"Humidity\",\"Pressure\",\"Comment\",\"TIMESTAMP\",\"json\",\"TS\")\n  VALUES(\nNULL,               \t--Date  DATE \nNULL,               \t--Time  TIME \nNULL,               \t--DateTime  VARCHAR(16)  \nNULL,               \t--Sensor  VARCHAR(5)  \nNULL,               \t--Location  VARCHAR(16)  \nNULL,               \t--Temperature  DECIMAL(6)  \nNULL,               \t--Humidity  DECIMAL(8)  \nNULL,               \t--Pressure  DECIMAL(8)  \nNULL,               \t--Comment  VARCHAR(168)  \nNULL,               \t--TIMESTAMP  VARCHAR(5)  \nNULL,               \t--json  VARCHAR(168)  \nNULL                \t--TS  TIMESTAMP(6)  \n);\n","x":220,"y":1600,"wires":[]},{"id":"f6a460ac.2fb31","type":"inject","z":"3a976663.ee33ea","name":"Test Insert","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":440,"y":1680,"wires":[["5e1df7fb.7dfc28"]]},{"id":"5e1df7fb.7dfc28","type":"function","z":"3a976663.ee33ea","name":"Insert a Record","func":"//msg.oldpayload={\"applicationID\":\"5\",\"applicationName\":\"ttgotest\",\"devEUI\":\"70b3d57ed0035849\",\"deviceName\":\"ttgo\",\"timestamp\":1603321211,\"fCnt\":7103,\"fPort\":10,\"data\":\"AYgAAAAAAAAAAAABdAGXAXUAAAEAAAECJw8BAb8BZwEXAWg9AXNjZw==\",\"data_encode\":\"base64\",\"object\":{\"location\":{\"latitude\":0,\"longitude\":0,\"altitude\":0},\"analogInput\":99.99,\"barometer\":2544.7},\"adr\":false,\"rxInfo\":[{\"gatewayID\":\"60c5a8fffe7662ef\",\"loRaSNR\":9.3,\"rssi\":-70,\"location\":{\"latitude\":43.66942,\"longitude\":-79.40772,\"altitude\":140}}],\"txInfo\":{\"frequency\":904300000,\"dr\":1},\"ts\":1603321213953}\n\nnewmsg={}\nnewmsg.payload =\n'INSERT INTO  \"DB2INST1\".\"SENSORDATA\" '+\n'(\"Date\",\"Time\",\"DateTime\",\"Sensor\", '+\n'\"Location\",\"Temperature\", '+\n'\"Humidity\",\"VOLTAGE\",'+\n'\"Comment\",\"TIMESTAMP\",\"json\",\"LORAPAY\",\"APPNAME\",\"DEVEUI\",\"LATITUDE\") '+\n'VALUES( NULL, NULL, NULL, '+\n\"'\"+msg.oldpayload.deviceName+\"' ,\"+  //sensorname\n'NULL, '+\n\"'\"+  msg.payload.temperature_1+\"',\"+ //tempertaure\n\"'\"+  msg.payload.relative_humidity_1+\"',\"+ //relative_humidity_1\n\"'\"+  msg.payload.voltage_1+\"',\"+ //relative_humidity_1\n'NULL,'+ //comment\n'NULL, NULL,'+\n\"'\"+msg.oldpayload.data+\"',\"+  \n\"'\"+msg.oldpayload.applicationName+\"',\"+ \n\"'\"+msg.oldpayload.devEUI+\"',\"+  \n\"'\"+msg.oldpayload.rxInfo[0].location.latitude+\"'\"+ \n//msg.oldpayload\n');'\n\n\nreturn newmsg;\n","outputs":1,"noerr":0,"x":640,"y":1680,"wires":[["bc9a1c28.8b244","d04040b8.9c00d"]]},{"id":"bc9a1c28.8b244","type":"debug","z":"3a976663.ee33ea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":1680,"wires":[]},{"id":"d04040b8.9c00d","type":"dashDB in","z":"3a976663.ee33ea","dashDB":"56218da5.a29374","service":"_ext_","query":"","params":"","name":"","x":880,"y":1620,"wires":[["8e1167dc.341348"]]},{"id":"8e1167dc.341348","type":"debug","z":"3a976663.ee33ea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1030,"y":1620,"wires":[]},{"id":"a3983cbf.dac9b","type":"function","z":"3a976663.ee33ea","name":"lastmsgttgo","func":"msg=flow.get(\"lastmsgttgo\")\n//msg.oldpayload={\"applicationID\":\"5\",\"applicationName\":\"ttgotest\",\"devEUI\":\"70b3d57ed0035849\",\"deviceName\":\"ttgo\",\"timestamp\":1603321211,\"fCnt\":7103,\"fPort\":10,\"data\":\"AYgAAAAAAAAAAAABdAGXAXUAAAEAAAECJw8BAb8BZwEXAWg9AXNjZw==\",\"data_encode\":\"base64\",\"object\":{\"location\":{\"latitude\":0,\"longitude\":0,\"altitude\":0},\"analogInput\":99.99,\"barometer\":2544.7},\"adr\":false,\"rxInfo\":[{\"gatewayID\":\"60c5a8fffe7662ef\",\"loRaSNR\":9.3,\"rssi\":-70,\"location\":{\"latitude\":43.66942,\"longitude\":-79.40772,\"altitude\":140}}],\"txInfo\":{\"frequency\":904300000,\"dr\":1},\"ts\":1603321213953}\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":1740,"wires":[["41a5acc.15a6a54","5e1df7fb.7dfc28"]]},{"id":"41a5acc.15a6a54","type":"debug","z":"3a976663.ee33ea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":1740,"wires":[]},{"id":"35c488a2.f48298","type":"inject","z":"3a976663.ee33ea","name":"Test Insert","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":440,"y":1740,"wires":[["a3983cbf.dac9b"]]},{"id":"e18418a3.0ad488","type":"comment","z":"3a976663.ee33ea","name":"Maximo Monitor infors","info":"https://ibm.ent.box.com/notes/671466773689?s=4o7qwtvzu4fkg79vak1pagbwmlbktve7\n\nIOT Api KEY a-masdem2-sex2pbbvng\n\ntoken: LIyC935bnL?(ie?GuI","x":660,"y":1820,"wires":[]},{"id":"5d58e0a4.def5a","type":"function","z":"3a976663.ee33ea","name":"Insert a TTGO Record","func":"//msg.oldpayload={\"applicationID\":\"5\",\"applicationName\":\"ttgotest\",\"devEUI\":\"70b3d57ed0035849\",\"deviceName\":\"ttgo\",\"timestamp\":1603321211,\"fCnt\":7103,\"fPort\":10,\"data\":\"AYgAAAAAAAAAAAABdAGXAXUAAAEAAAECJw8BAb8BZwEXAWg9AXNjZw==\",\"data_encode\":\"base64\",\"object\":{\"location\":{\"latitude\":0,\"longitude\":0,\"altitude\":0},\"analogInput\":99.99,\"barometer\":2544.7},\"adr\":false,\"rxInfo\":[{\"gatewayID\":\"60c5a8fffe7662ef\",\"loRaSNR\":9.3,\"rssi\":-70,\"location\":{\"latitude\":43.66942,\"longitude\":-79.40772,\"altitude\":140}}],\"txInfo\":{\"frequency\":904300000,\"dr\":1},\"ts\":1603321213953}\n\nnewmsg={}\nnewmsg.payload =\n'INSERT INTO  \"DB2INST1\".\"SENSORDATA\" '+\n'(\"Date\",\"Time\",\"DateTime\",\"Sensor\", '+\n'\"Location\",\"Temperature\", '+\n'\"Humidity\",\"VOLTAGE\",'+\n'\"Comment\",\"TIMESTAMP\",\"json\",\"LORAPAY\",\"APPNAME\",\"DEVEUI\",\"LATITUDE\") '+\n'VALUES( NULL, NULL, NULL, '+\n\"'\"+msg.oldpayload.deviceName+\"' ,\"+  //sensorname\n'NULL, '+\n\"'\"+  msg.payload.temperature_1+\"',\"+ //tempertaure\n\"'\"+  msg.payload.relative_humidity_1+\"',\"+ //relative_humidity_1\n\"'\"+  msg.payload.voltage_1+\"',\"+ //relative_humidity_1\n'NULL,'+ //comment\n'NULL, NULL,'+\n\"'\"+msg.oldpayload.data+\"',\"+  \n\"'\"+msg.oldpayload.applicationName+\"',\"+ \n\"'\"+msg.oldpayload.devEUI+\"',\"+  \n\"'\"+msg.oldpayload.rxInfo[0].location.latitude+\"'\"+ \n//msg.oldpayload\n');'\n\n\nreturn newmsg;\n","outputs":1,"noerr":0,"x":1420,"y":840,"wires":[["a054ba4d.5c02e8","ea46ee2e.ab4de"]]},{"id":"a054ba4d.5c02e8","type":"debug","z":"3a976663.ee33ea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1630,"y":880,"wires":[]},{"id":"ea46ee2e.ab4de","type":"dashDB in","z":"3a976663.ee33ea","dashDB":"56218da5.a29374","service":"_ext_","query":"","params":"","name":"","x":1640,"y":840,"wires":[["e4ff195d.f5d0f8"]]},{"id":"e4ff195d.f5d0f8","type":"debug","z":"3a976663.ee33ea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1790,"y":840,"wires":[]},{"id":"d60a5cec.6ca25","type":"ui_group","z":"","name":"PyCom","tab":"75213048.e19378","order":1,"disp":true,"width":"12","collapse":false},{"id":"170cb7cc.b361f","type":"ui_group","z":"","name":"MKR1310","tab":"75213048.e19378","order":2,"disp":true,"width":"12","collapse":false},{"id":"56218da5.a29374","type":"dashDB","z":"","hostname":"db2w-iqjcpko.us-south.db2w.cloud.ibm.com","db":"BLUDB","port":"50001","name":"DB2Warehouse-DB2INST1.SENSORDATA"},{"id":"75213048.e19378","type":"ui_tab","z":"","name":"MyLora","icon":"dashboard","disabled":false,"hidden":false}]
