utils/nr-tracker.flow
[{"id":"5f2af0ed.80d0e","type":"tab","label":"TrackerMap","disabled":false,"info":""},{"id":"a7661397.8ba78","type":"ui_worldmap","z":"5f2af0ed.80d0e","group":"dc05a2d7.73abf","order":4,"width":0,"height":0,"name":"","lat":"43.6711","lon":"-79.4141","zoom":"18","layer":"Esri","cluster":"6","maxage":"","usermenu":"show","layers":"show","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"deg","showgrid":"true","path":"/worldmappws","x":720,"y":200,"wires":[]},{"id":"84dcf0f7.f8bb1","type":"function","z":"5f2af0ed.80d0e","name":"Set PWS Markter","func":"\nmsg.payload.layer = \"pwsall\";\nmsg.payload.name  = msg.payload.pws\nmsg.payload.icon  = \"globe\";\nmsg.payload.iconColor = \"orange\";\n\nif(!isNaN(msg.payload.pws))\n{\n    msg.payload.iconColor = \"orange\"//+msg.payload.pws;\n    if(parseInt(msg.payload.pws) < 11)\n        msg.payload.iconColor = \"#55FF\"+msg.payload.pws;\n    if(parseInt(msg.payload.pws) > 10 && parseInt(msg.payload.pws) <21 )\n        msg.payload.iconColor = \"#FF55\"+msg.payload.pws;\n    if(parseInt(msg.payload.pws) > 20 && parseInt(msg.payload.pws) <31 )\n        msg.payload.iconColor = \"#\"+msg.payload.pws+\"22FF\"\n    if(parseInt(msg.payload.pws) > 30 && parseInt(msg.payload.pws) <41 )\n        msg.payload.iconColor = \"#55\"+msg.payload.pws+\"88\"\n}\n\n\n\nif(msg.payload.pws == \"NoLabID\")\n    msg.payload.iconColor = \"black\";\n    \n    \nif(msg.payload.pws == \"iss\")\n{\nmsg.payload.name  = \"Space Station\";\n//https://fontawesome.com/v4.7.0/icons/\nmsg.payload.icon  = \"fa-space-shuttle\";\nmsg.payload.iconColor = \"blue\";\n}\nif(msg.payload.pws == \"cprb\")\n{\nmsg.payload.name  = \"Weather RB Station\";\nmsg.payload.icon  = \":mostly_sunny:\";\n//https://github.com/dceejay/RedMap/blob/master/emojilist.md\nmsg.payload.iconColor = \"green\";\n}\n\nmsg.payload.command = { zoom:18, \n                            \"lat\":msg.payload.lat,\n                            \"lon\":msg.payload.lon,\n                            autopan:true };\n//delete msg.payload.command \nreturn msg;","outputs":1,"noerr":0,"x":430,"y":200,"wires":[["a7661397.8ba78","4a93f47c.8ef44c"]]},{"id":"c787a4f8.000368","type":"inject","z":"5f2af0ed.80d0e","name":"Test Message Toronto","topic":"","payload":"{\"temperature\":6,\"observation\":\"Mostly Cloudy\",\"humidity\":43,\"pressure\":1014.7,\"uvindex\":3,\"precip\":0,\"ts\":1586620806125,\"messtime\":\"2020-04-11T11:50:30-0400\",\"day\":\"Saturday\",\"lat\":43.6711,\"lon\":-79.4141,\"source\":\"TWC\",\"pws\":\"00\",\"layer\":\"pwsall\",\"name\":\"test00\",\"icon\":\"globe\",\"iconColor\":\"orange\",\"command\":{\"zoom\":6,\"lat\":43.6711,\"lon\":-79.4141,\"autopan\":true}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"3","x":180,"y":200,"wires":[["84dcf0f7.f8bb1"]]},{"id":"d7332eac.5701d","type":"ui_button","z":"5f2af0ed.80d0e","name":"","group":"dc05a2d7.73abf","order":1,"width":0,"height":0,"passthru":false,"label":"test","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"temperature\":6,\"observation\":\"Mostly Cloudy\",\"humidity\":43,\"pressure\":1014.7,\"uvindex\":3,\"precip\":0,\"ts\":1586620806125,\"messtime\":\"2020-04-11T11:50:30-0400\",\"day\":\"Saturday\",\"lat\":43.6711,\"lon\":-79.4141,\"source\":\"TWC\",\"pws\":\"00\",\"layer\":\"pwsall\",\"name\":\"test00\",\"icon\":\"globe\",\"iconColor\":\"orange\",\"command\":{\"zoom\":18,\"lat\":43.6711,\"lon\":-79.4141,\"autopan\":true}}","payloadType":"json","topic":"","x":230,"y":240,"wires":[["84dcf0f7.f8bb1"]]},{"id":"4a93f47c.8ef44c","type":"debug","z":"5f2af0ed.80d0e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":160,"wires":[]},{"id":"b87c9beb.ddba88","type":"link in","z":"5f2af0ed.80d0e","name":"maptracker","links":["eae5dde3.f81dc"],"x":160,"y":360,"wires":[["3e64145f.425e5c","40a5f499.dca14c"]]},{"id":"3e64145f.425e5c","type":"function","z":"5f2af0ed.80d0e","name":"Set PWS Markter","func":"tcnt=flow.get(\"tcnt\") ||0\ntestdata1=[];\ntestdata2=[];\ntestdata3=[];\n//flow.set(\"testdata\",[])\ntestdata=flow.get(\"testdata\") || testdata1\nttggarray=flow.get(\"ttggarray\") || testdata2\ntcnt=tcnt+1;\nif(tcnt>2000)\ntcnt=0\n\nmsg.payload.layer = \"pwsall\";\nmsg.payload.name  = \"GPSTracker\"+tcnt\nmsg.payload.icon  = \"globe\";\nmsg.payload.withInMeters= msg.payload.analog_in_1\n//msg.payload.iconColor = \"orange\";\n//msg.payload.icon  = \":bike:\";\nmsg.payload.iconColor = \"green\";\n\nmsg.payload.lat = msg.payload.gps_1.latitude\nmsg.payload.lon = msg.payload.gps_1.longitude\nmsg.payload.ts=Date.now();\nmsg.payload.tcnt=tcnt\nmsg.payload.command = { zoom:18, \n                            \"lat\":msg.payload.gps_1.latitude,\n                            \"lon\":msg.payload.gps_1.longitude,\n                            autopan:true }\n                            \nttggprev= flow.get(\"ttgglast\") ||testdata3\n//node.warn(ttggprev)\nif(ttggprev === null)\nttggprev=msg;\nnode.warn(ttggprev.payload)\nif(undefined === ttggprev.payload || ttggprev.length ==0)\nttggprev=msg;\n\n\nttggprev.msgtype=\"ttggprev\"\nflow.set(\"ttggprev\",ttggprev)\n\n\nmsg.payload.timedelta=msg.payload.ts-ttggprev.payload.ts\nif(msg.payload.timedelta >180000)\n{\nttggarray.push(ttggprev)\nttggarray.push(msg)\nflow.set(\"ttggarray\",ttggarray)\n}\ntestdata.push(msg)\nflow.set(\"testdata\",testdata)\n\nflow.set(\"ttgglast\",msg)\nflow.set(\"tcnt\",tcnt)\n//delete msg.payload.command \nreturn msg;","outputs":1,"noerr":0,"x":430,"y":360,"wires":[["a7661397.8ba78","4a93f47c.8ef44c","d5c0a1c4.00db7","94eb6b6b.b79f48","92f928da.499388","402dc882.753428"]]},{"id":"40a5f499.dca14c","type":"debug","z":"5f2af0ed.80d0e","name":"from myLora","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":410,"y":400,"wires":[]},{"id":"1e3ae331.515b8d","type":"inject","z":"5f2af0ed.80d0e","name":"GPS Test msg","topic":"","payload":"{\"gps_1\":{\"latitude\":43.6691,\"longitude\":-79.4072,\"altitude\":141.3},\"voltage_1\":4.05,\"current_1\":15.464,\"digital_in_1\":4,\"analog_in_1\":6.26}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":500,"wires":[["3e64145f.425e5c"]]},{"id":"c501670d.bb4c68","type":"ui_chart","z":"5f2af0ed.80d0e","name":"","group":"2ac6b84c.542958","order":5,"width":0,"height":0,"label":"Volatage","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":840,"y":360,"wires":[[]]},{"id":"d5c0a1c4.00db7","type":"function","z":"5f2af0ed.80d0e","name":"","func":"//msg.topic=msg.payload.name\nmsg.label =msg.payload.name\nmsg.payload=msg.payload.voltage_1\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":360,"wires":[["c501670d.bb4c68"]]},{"id":"46134da7.caaf54","type":"ui_chart","z":"5f2af0ed.80d0e","name":"","group":"2ac6b84c.542958","order":3,"width":0,"height":0,"label":"WithInMeters","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":850,"y":400,"wires":[[]]},{"id":"94eb6b6b.b79f48","type":"function","z":"5f2af0ed.80d0e","name":"","func":"msg.payload=msg.payload.withInMeters\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":400,"wires":[["46134da7.caaf54","f7abcbb2.579898"]]},{"id":"11fa5df2.9e0902","type":"ui_chart","z":"5f2af0ed.80d0e","name":"","group":"2ac6b84c.542958","order":4,"width":0,"height":0,"label":"Satellites","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":840,"y":440,"wires":[[]]},{"id":"92f928da.499388","type":"function","z":"5f2af0ed.80d0e","name":"","func":"msg.payload=msg.payload.digital_in_1\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":440,"wires":[["11fa5df2.9e0902","dae9a000.6713d"]]},{"id":"ceb51a8d.8c4358","type":"ui_button","z":"5f2af0ed.80d0e","name":"","group":"dc05a2d7.73abf","order":1,"width":0,"height":0,"passthru":false,"label":"Show Last GPS","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"temperature\":6,\"observation\":\"Mostly Cloudy\",\"humidity\":43,\"pressure\":1014.7,\"uvindex\":3,\"precip\":0,\"ts\":1586620806125,\"messtime\":\"2020-04-11T11:50:30-0400\",\"day\":\"Saturday\",\"lat\":43.6711,\"lon\":-79.4141,\"source\":\"TWC\",\"pws\":\"00\",\"layer\":\"pwsall\",\"name\":\"test00\",\"icon\":\"globe\",\"iconColor\":\"orange\",\"command\":{\"zoom\":18,\"lat\":43.6711,\"lon\":-79.4141,\"autopan\":true}}","payloadType":"json","topic":"","x":200,"y":540,"wires":[["c1926697.033248"]]},{"id":"c1926697.033248","type":"function","z":"5f2af0ed.80d0e","name":"Set PWS Markter","func":"msg.payload={}\nmsg=flow.get(\"ttgglast\")\nmsg.payload.iconColor = \"orange\";\nnode.send(msg,null)\n\nmsg.payload.iconColor = \"green\";\nnode.send(null,msg)","outputs":2,"noerr":0,"x":430,"y":540,"wires":[["a7661397.8ba78","c64e56c4.ff3ee8"],["84890d99.df324"]]},{"id":"84890d99.df324","type":"delay","z":"5f2af0ed.80d0e","name":"","pauseType":"rate","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":540,"wires":[["a7661397.8ba78","c64e56c4.ff3ee8"]]},{"id":"f709003b.9d5cf","type":"inject","z":"5f2af0ed.80d0e","name":"Test Message Toronto","topic":"","payload":"{\"temperature\":6,\"observation\":\"Mostly Cloudy\",\"humidity\":43,\"pressure\":1014.7,\"uvindex\":3,\"precip\":0,\"ts\":1586620806125,\"messtime\":\"2020-04-11T11:50:30-0400\",\"day\":\"Saturday\",\"lat\":43.6711,\"lon\":-79.4141,\"source\":\"TWC\",\"pws\":\"00\",\"layer\":\"pwsall\",\"name\":\"test00\",\"icon\":\"globe\",\"iconColor\":\"orange\",\"command\":{\"zoom\":6,\"lat\":43.6711,\"lon\":-79.4141,\"autopan\":true}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"3","x":180,"y":600,"wires":[["c1926697.033248"]]},{"id":"c64e56c4.ff3ee8","type":"debug","z":"5f2af0ed.80d0e","name":"Show Last Pos","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":640,"y":600,"wires":[]},{"id":"67c4dc95.315244","type":"ui_chart","z":"5f2af0ed.80d0e","name":"","group":"2ac6b84c.542958","order":6,"width":0,"height":0,"label":"TimeDelta","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"50","ymax":"1000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":840,"y":480,"wires":[[]]},{"id":"402dc882.753428","type":"function","z":"5f2af0ed.80d0e","name":"","func":"msg.payload=msg.payload.timedelta/1000\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":480,"wires":[["67c4dc95.315244"]]},{"id":"263ba07a.e958c","type":"function","z":"5f2af0ed.80d0e","name":"Set PWS Markter","func":"tcnt=flow.get(\"tcnt\") ||0\nttggarray=flow.get(\"ttggarray\") ||[]\nmsg.payload.testdata=flow.get(\"testdata\") ||[]\nmsg.payload.ttggarray=ttggarray;\n//flow.set(\"testdata\",[])\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":680,"wires":[["5f37052c.b058ec"]]},{"id":"5f37052c.b058ec","type":"debug","z":"5f2af0ed.80d0e","name":"Show Last Time","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":660,"y":680,"wires":[]},{"id":"bd3e627d.0108d","type":"inject","z":"5f2af0ed.80d0e","name":"Delta  messages","topic":"","payload":"{\"temperature\":6,\"observation\":\"Mostly Cloudy\",\"humidity\":43,\"pressure\":1014.7,\"uvindex\":3,\"precip\":0,\"ts\":1586620806125,\"messtime\":\"2020-04-11T11:50:30-0400\",\"day\":\"Saturday\",\"lat\":43.6711,\"lon\":-79.4141,\"source\":\"TWC\",\"pws\":\"00\",\"layer\":\"pwsall\",\"name\":\"test00\",\"icon\":\"globe\",\"iconColor\":\"orange\",\"command\":{\"zoom\":6,\"lat\":43.6711,\"lon\":-79.4141,\"autopan\":true}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"3","x":160,"y":680,"wires":[["263ba07a.e958c"]]},{"id":"f7abcbb2.579898","type":"ui_chart","z":"5f2af0ed.80d0e","name":"","group":"2ac6b84c.542958","order":1,"width":0,"height":0,"label":"WithInMetersHr","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1060,"y":400,"wires":[[]]},{"id":"dae9a000.6713d","type":"ui_chart","z":"5f2af0ed.80d0e","name":"","group":"2ac6b84c.542958","order":2,"width":0,"height":0,"label":"SatellitesHr","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1050,"y":440,"wires":[[]]},{"id":"6a500e5a.38216","type":"function","z":"5f2af0ed.80d0e","name":"Set PWS Markter","func":"tcnt=flow.get(\"tcnt\") ||0\nttggarray=flow.get(\"ttggarray\") ||[]\n\nmsg.payload.ttggarray=ttggarray;\nttggarray.forEach(myFunction);\n\nfunction myFunction(item, index) {\n   node.send(item)\n}\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":740,"wires":[["e411243a.550408","3e64145f.425e5c"]]},{"id":"8e5a5d13.33887","type":"inject","z":"5f2af0ed.80d0e","name":"Display","topic":"","payload":"{\"temperature\":6,\"observation\":\"Mostly Cloudy\",\"humidity\":43,\"pressure\":1014.7,\"uvindex\":3,\"precip\":0,\"ts\":1586620806125,\"messtime\":\"2020-04-11T11:50:30-0400\",\"day\":\"Saturday\",\"lat\":43.6711,\"lon\":-79.4141,\"source\":\"TWC\",\"pws\":\"00\",\"layer\":\"pwsall\",\"name\":\"test00\",\"icon\":\"globe\",\"iconColor\":\"orange\",\"command\":{\"zoom\":6,\"lat\":43.6711,\"lon\":-79.4141,\"autopan\":true}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"3","x":130,"y":740,"wires":[["6a500e5a.38216"]]},{"id":"e411243a.550408","type":"debug","z":"5f2af0ed.80d0e","name":"Show Last Time","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":660,"y":740,"wires":[]},{"id":"dc05a2d7.73abf","type":"ui_group","z":"","name":"Tracker","tab":"1d7eb05d.519fa","order":1,"disp":true,"width":"16","collapse":false},{"id":"2ac6b84c.542958","type":"ui_group","z":"","name":"Charts","tab":"1d7eb05d.519fa","order":2,"disp":true,"width":"13","collapse":false},{"id":"1d7eb05d.519fa","type":"ui_tab","z":"","name":"Tracker","icon":"dashboard","disabled":false,"hidden":false}]
